* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d4ebf6;
  color: #142123;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

body .container img {
  width: 5%;
  height: auto;
}

body .container .text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .text-center h1 {
  text-transform: uppercase;
  text-align: center;
}

body .container .text-center h3 {
  text-transform: uppercase;
  text-align: center;
}

body .container-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

body .container-address h4 {
  font-weight: normal;
}

body .container-lower {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lower h4 {
  font-weight: normal;
}

body .container-lower h5 {
  text-align: center;
  font-weight: normal;
}

body .container-lower span {
  margin-left: 30px;
  padding: 3px;
  border: 3px solid black;
}

body .container-lower ol {
  margin-left: 40px;
}

body .container-lower .middle {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lower .middle .title {
  text-align: center;
  font-weight: normal;
  margin-bottom: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lower .middle .name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

body .container-lower .right-lower .title {
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lower .right-lower .name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

body .container-lower .try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dark {
  background-color: #dddddd;
}

body .lower {
  margin-bottom: 20px;
}

body .random,
body thead,
body th,
body tr,
body td {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-collapse: collapse;
}
/*# sourceMappingURL=main.css.map */