* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d4ebf6;
  color: #142123;

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

    img {
      width: 5%;
      height: auto;
    }

    .text-center {
      align-items: center;
      justify-content: center;

      h1 {
        text-transform: uppercase;
        text-align: center;
      }

      h3 {
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .container-address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h4 {
      font-weight: normal;
    }
  }

  .container-lower {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h4 {
      font-weight: normal;
    }

    h5 {
      text-align: center;
      font-weight: normal;
    }

    span {
      margin-left: 30px;
      padding: 3px;
      border: 3px solid black;
    }

    ol {
      margin-left: 40px;
    }

    .middle {
      display: block;
      justify-content: center;
      align-items: center;

      .title {
        text-align: center;
        font-weight: normal;
        margin-bottom: 78px;
        align-items: center;
      }

      .name {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .right-lower {
      .title {
        text-align: center;
        font-weight: normal;
        margin-bottom: 50px;
        align-items: center;
      }

      .name {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .try {
      display: flex;
    }
  }

  .dark {
    background-color: #dddddd;
  }

  .lower {
    margin-bottom: 20px;
  }

  .random,
  thead,
  th,
  tr,
  td {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
}
